<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 用户mybatis映射文件 -->
<mapper namespace="com.cg.mapper.sys.UserMapper">

	<sql id="base_column">
		id, 
       	user_name,
       	nick_name,
       	password,
       	amount,
       	status,
       	is_delete,
       	create_time,
       	update_time,
       	create_by,
       	update_by
	</sql>

    <select id="getByUserName" resultType="com.cg.po.sys.User">
        select 
        	<include refid="base_column"></include>
       	from user
       	where user_name=#{userName}
       	limit 1
    </select>
    
    <select id="deleteByUserId">
    	update user set is_delete = 1 where id = #{id}
    </select>
    
</mapper> 